html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; }

.flex {
  width: 100%;
  height: 100%;
  display: flex; }
  .flex.columns {
    flex-direction: column; }
  .flex.between {
    justify-content: space-between; }
  .flex .center {
    align-self: center; }

.link {
  text-decoration: none;
  color: white; }

.active-link {
  text-decoration: none;
  color: white; }

.form {
  align-self: center; }

.app-bar {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #6457A6; }
  .app-bar a {
    transition: color 0.5s ease; }
  .app-bar a:hover {
    color: #312F2F; }
  .app-bar .logo-link {
    margin-left: 15px;
    font-size: 2em;
    color: #FFFFFF;
    align-self: center; }
  .app-bar .brand-link {
    margin-left: 15px;
    font-size: 2em;
    color: #FFFFFF;
    text-decoration: none;
    align-self: center; }
  .app-bar .active-user-image {
    height: 50px;
    width: auto; }
  .app-bar .app-actions {
    margin-left: auto;
    margin-right: 10px;
    align-self: center; }
    .app-bar .app-actions .login-icon {
      margin-right: 5px; }
    .app-bar .app-actions .login-button {
      cursor: pointer;
      width: 150px;
      padding: 10px;
      background-color: #6457A6;
      color: #FFFFFF;
      border: 1px solid #FFFFFF; }
    .app-bar .app-actions .logout-button {
      cursor: pointer;
      width: 150px;
      padding: 10px;
      background-color: #6457A6;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
      margin-left: 10px !important; }
    .app-bar .app-actions .login-button:hover, .app-bar .app-actions .logout-button:hover {
      color: #312F2F;
      border: 1px solid #312F2F; }
    .app-bar .app-actions .active-user {
      color: #70e7b8; }

.welcome {
  background-color: #312F2F; }
  .welcome .welcome-banner {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 1; }
    .welcome .welcome-banner .header {
      color: #FFFFFF;
      font-size: 2em; }
    .welcome .welcome-banner .create-now {
      align-self: center;
      padding: 10px;
      font-size: 1.2em;
      color: #FFFFFF;
      background-color: #6457A6;
      border: none;
      cursor: pointer;
      transition: all 0.5s linear; }
    .welcome .welcome-banner .create-now:hover {
      background-color: #312F2F;
      color: #70e7b8; }

.welcome-blank-world {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px; }

.fill {
  fill: #312F2F; }

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5; }

.land {
  fill: #222; }

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px; }
